.main {
  background-color: black;
  border-bottom: 1px dashed #9e0000;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      color: #9e0000;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: bolder;
      text-transform: uppercase;
      margin: 0;

      @media screen and (max-width: 767px) {
        white-space: nowrap;
      }
    }

    svg {
      fill: #9e0000;
      width: 30px;
      height: 30px;
      margin-left: 15px;
      transition: all 0.4s ease;
      cursor: pointer;

      @media screen and (max-width: 769px) {
        width: 25px;
        height: 25px;
      }

      &:hover {
        fill: #ffffff;
      }
    }
  }

  .infos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 40px 0 20px 0;

    h4 {
      color: #ffffff;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: bolder;
      white-space: nowrap;
      align-self: flex-start;
      text-transform: capitalize;
      margin: 5px 0 0 0;
      font-size: 22px;

      @media screen and (max-width: 769px) {
        font-size: 17px;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0;

      svg {
        fill: #ffffff;
        width: 30px;
        height: 30px;
        margin: 0 0 5px 15px;
        transition: all 0.4s ease;
        cursor: pointer;

        @media screen and (max-width: 769px) {
          width: 25px;
          height: 25px;
        }

        &:hover {
          fill: #9e0000;
        }
      }
    }
  }
}
