@font-face {
  font-family: "Agrandir-Wide-Bold";
  src: url(../../fonts/Agrandir-GrandHeavy.otf);
}
@font-face {
  font-family: "Agrandir-Wide-Bold-italic";
  src: url(../../fonts/Agrandir-WideBlackItalic.otf);
}
@font-face {
  font-family: "Agrandir-tight";
  src: url(../../fonts/Agrandir-Tight.otf);
}
.home {
  background-color: black;
  color: rgb(255, 255, 255);
  // height: 100vh;
}

.title {
  margin: 10px 0 0 20px;
  padding-top: 20px;
  font-weight: 100;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;

  @media screen and (max-width: 769px) {
    padding: 0 35px;
  }

  svg {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    color: #9e0000;
  }

  span {
    font-family: Agrandir-Wide-Bold-italic, sans-serif;
    color: #9e0000;
    font-size: 25px;

    @media screen and (max-width: 769px) {
      font-size: 15px;
    }
  }

  h1 {
    font-family: Agrandir-Wide-Bold, sans-serif;
    color: white;
    font-size: 47px;

    @media screen and (max-width: 769px) {
      font-size: 25px;
    }
  }

  h4 {
    font-family: Agrandir-tight, sans-serif;
    font-weight: 400;
    color: white;
    max-width: 800px;
    text-align: justify;

    @media screen and (max-width: 769px) {
      font-size: 15px;
    }
  }

  .buttonCustom {
    width: 30%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 500px;
    background-color: #9e0000;
    border: none;
    transition: all 0.3s;

    span {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 600;
      color: white;
      font-size: 25px;

      @media screen and (max-width: 769px) {
        font-size: 15px;
      }
    }

    &:hover {
      background-color: #520101;
      transform: scale(1.1);
    }

    @media screen and (max-width: 769px) {
      width: 50%;
      margin: 30px 0;
    }
  }
}
